body {
    background: #fafafa;
    color: #111;
    font-family: "Inter", system-ui, sans-serif;
}

.card img {
    height: 300px;
    object-fit: cover;
}

.precio {
    font-size: 1.1rem;
    font-weight: 700;
    color: #e91e63;
}
